/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/global.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
/* CUSTOM CORE CLASSES */
.is-style-custombuttonborder .wp-block-button__link {
  padding: 23px 30px;
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  /* font-family: 'Heebo'; */
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid var(--wp--preset--color--zeever-secondary);
  border-radius: 0px;
}

.is-style-custombuttonborder2 .wp-block-button__link {
  padding: 23px 30px;
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  border-radius: 0px;
  /* font-family: 'Heebo'; */
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.is-style-custombuttonborder2:hover .wp-block-button__link {
  border: 2px solid var(--wp--preset--color--zeever-button-border);
  border-radius: 0px;
}

.is-style-custombuttonborder3 .wp-block-button__link {
  padding: 23px 30px;
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  border-radius: 0px;
  /* font-family: 'Heebo'; */
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid var(--wp--preset--color--zeever-secondary);
  border-radius: 0px;
}

.is-style-custombuttonborder3:hover .wp-block-button__link {
  border: 2px solid var(--wp--preset--color--zeever-button-border);
  border-radius: 0px;
}

.is-style-customboxshadow,
.is-style-customboxshadowhover:hover {
  box-shadow: 0px 3px 15px 0px rgba(16, 16, 16, 0.1019607843);
}

.is-style-lineseparator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.is-style-lineseparator:before {
  content: "";
  width: 70px;
  margin-left: 20px;
  border-top-width: 3px;
  border-top-color: var(--wp--preset--color--zeever-secondary);
  border-top-style: solid;
  display: inline-block;
}

.is-style-customborderhover {
  border: 2px solid #121212;
}

.is-style-customborderhover:hover {
  border: 2px solid var(--wp--preset--color--zeever-secondary);
}

.is-style-customborderbottom {
  border-bottom: 5px solid #FFFFFF;
}

.is-style-customborderbottomhover {
  border-bottom: 5px solid #FFFFFF;
}

.is-style-customborderbottomhover:hover {
  border-bottom: 5px solid var(--wp--preset--color--zeever-secondary);
}

.is-style-iconsborderhover.wp-block-social-links {
  gap: 20px;
}

.is-style-iconsborderhover.wp-block-social-links .wp-block-social-link {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--wp--preset--color--zeever-secondary);
  color: #ffffff;
}

.is-style-iconsborderhover.wp-block-social-links .wp-block-social-link {
  padding: 8px;
}

.is-style-iconsborderhover.wp-block-social-links .wp-block-social-link:hover {
  background-color: #ffffff;
  border: 2px solid var(--wp--preset--color--white);
  color: #082222;
}

@media only screen and (min-width: 600px) {
  .wp-block-navigation.is-style-customnav > .wp-block-navigation-item,
  .wp-block-navigation.is-style-customnav .wp-block-navigation__container > .wp-block-navigation-item {
    height: 60px;
  }
}
/* ZEEVER ADVANCE CLASSES */
.zeever-z-index-1 {
  z-index: 1;
}

.zeever-z-index-10 {
  z-index: 10;
}

.zeever-z-index-100 {
  z-index: 100;
}

.zeever-z-index-1000 {
  z-index: 1000;
}

.zeever-margin-top-n10 {
  position: relative;
  margin-top: -10px !important;
}

.zeever-margin-top-n20 {
  position: relative;
  margin-top: -20px !important;
}

.zeever-margin-top-n30 {
  position: relative;
  margin-top: -30px !important;
}

.zeever-margin-top-n40 {
  position: relative;
  margin-top: -40px !important;
}

.zeever-margin-top-n50 {
  position: relative;
  margin-top: -50px !important;
}

.zeever-margin-top-n60 {
  position: relative;
  margin-top: -60px !important;
}

.zeever-margin-top-n70 {
  position: relative;
  margin-top: -70px !important;
}

.zeever-margin-top-n80 {
  position: relative;
  margin-top: -80px !important;
}

.zeever-margin-top-n90 {
  position: relative;
  margin-top: -90px !important;
}

.zeever-margin-top-n100 {
  position: relative;
  margin-top: -100px !important;
}

.zeever-radius-5 {
  border-radius: 5px;
}

.zeever-radius-10 {
  border-radius: 10px;
}

.zeever-radius-25 {
  border-radius: 25px;
}

.zeever-radius-50 {
  border-radius: 50px;
}

.zeever-post-template-gap {
  margin-right: -17.5px !important;
  margin-left: -17.5px !important;
}

.zeever-post-template-gap .wp-block-post-template {
  gap: 0 !important;
}

.zeever-post-template-gap .wp-block-post-template > .wp-block-post {
  padding-right: 17.5px !important;
  padding-left: 17.5px !important;
  padding-bottom: 35px !important;
}

/* @media only screen and (min-width: 600px) {

    .zeever-post-template-gap .wp-block-post-template.column-2 > .wp-block-post,
    .zeever-post-template-gap .wp-block-post-template.columns-2 > .wp-block-post {
        width: calc(50% - 35px)!important;
    }

    .zeever-post-template-gap .wp-block-post-template.column-3 > .wp-block-post,
    .zeever-post-template-gap .wp-block-post-template.columns-3 > .wp-block-post {
        width: calc(33.33333% - 35px)!important;
    }

    .zeever-post-template-gap .wp-block-post-template.column-4 > .wp-block-post,
    .zeever-post-template-gap .wp-block-post-template.columns-4 > .wp-block-post {
        width: calc(25% - 35px)!important;
    }

    .zeever-post-template-gap .wp-block-post-template.column-5 > .wp-block-post,
    .zeever-post-template-gap .wp-block-post-template.columns-5 > .wp-block-post {
        width: calc(20% - 35px)!important;
    }

    .zeever-post-template-gap .wp-block-post-template.column-6 > .wp-block-post,
    .zeever-post-template-gap .wp-block-post-template.columns-6 > .wp-block-post {
        width: calc(16.66667% - 35px)!important;
    }

    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.column-2 > .wp-block-post,
    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.columns-2 > .wp-block-post {
        width: calc(50%)!important;
    }

    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.column-3 > .wp-block-post,
    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.columns-3 > .wp-block-post {
        width: calc(33.33333%)!important;
    }

    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.column-4 > .wp-block-post,
    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.columns-4 > .wp-block-post {
        width: calc(25%)!important;
    }

    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.column-5 > .wp-block-post,
    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.columns-5 > .wp-block-post {
        width: calc(20%)!important;
    }

    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.column-6 > .wp-block-post,
    body:not(.editor-styles-wrapper) .zeever-post-template-gap .wp-block-post-template.columns-6 > .wp-block-post {
        width: calc(16.66667%)!important;
    }

} */
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

small {
  font-size: var(--wp--preset--font-size--small);
}

ul,
ol {
  padding: 0 var(--wp--preset--spacing--50) 0 0;
}

.visually-hidden:not(:focus):not(:active):not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.always-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--wp--preset--color--primary);
  border-radius: 0px;
  border-color: var(--wp--preset--color--background);
  border-style: solid;
  border-width: 2px;
  color: var(--wp--preset--color--background);
  padding-top: var(--wp--preset--spacing--20);
  padding-left: var(--wp--preset--spacing--50);
  padding-bottom: var(--wp--preset--spacing--20);
  padding-right: var(--wp--preset--spacing--50);
  text-decoration: none;
}

header {
  z-index: 999;
  margin: 0 auto;
  border-bottom: 1px solid rgba(159, 123, 78, 0.55);
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 768px) {
  .wp-block-site-logo img {
    max-width: 100px;
  }
}

body.admin-bar header {
  top: 32px;
}

main,
.woocommerce div.product {
  margin-top: 9em;
}

@media (max-width: 768px) {
  .is-layout-constrained {
    padding: var(--wp--preset--spacing--40);
  }
}
.wp-block-categories-list {
  list-style-type: none;
  padding-right: 0;
  width: 100%;
}
.wp-block-categories-list .cat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--wp--preset--color--zeever-bodytext);
  padding: 13px 0 13px 0;
}
.wp-block-categories-list .cat-item a {
  flex-grow: 1;
  text-decoration: none;
  font-weight: 600;
  color: #D0D0D0;
}
.wp-block-categories-list .cat-item.current-cat a {
  color: var(--wp--preset--color--zeever-secondary);
}

.wp-block-search__input {
  background: transparent;
  padding: 0 20px;
}
.wp-block-search__inside-wrapper {
  margin-bottom: var(--wp--preset--spacing--50);
}

.wp-block-tag-cloud .tag-cloud-link {
  position: relative;
  padding: 12px 20px 14px 20px;
  transition: color 0.3s, border 0.3s;
  margin: 10px 0 0 10px;
  text-transform: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  font-size: 14px !important;
  line-height: 1.2 !important;
  color: var(--wp--preset--color--zeever-bodytext);
  text-decoration: none;
  font-weight: 600;
  border-color: var(--wp--preset--color--zeever-bodytext);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.wp-block-tag-cloud .tag-cloud-link:hover {
  background: rgba(230, 230, 230, 0.062745098);
}

.wp-block-cloudcatch-splide-carousel .splide__pagination {
  bottom: 6em;
}
.wp-block-cloudcatch-splide-carousel .splide__arrow--prev {
  right: calc(2em + 30px) !important;
}
.wp-block-cloudcatch-splide-carousel .splide__arrow--next {
  left: calc(2em + 30px) !important;
}
.wp-block-cloudcatch-splide-carousel.wp-block-splide-carousel__container {
  margin-block-start: 0;
}

@media (max-width: 768px) {
  .wc-block-mini-cart__amount {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: row-reverse;
    gap: 10px !important;
    padding-left: 1em;
  }
}
.menu .current-menu-item.wp-block-navigation-link {
  color: var(--wp--preset--color--zeever-secondary);
}
.menu .wp-block-navigation-link a:hover {
  color: var(--wp--preset--color--zeever-secondary);
}
.menu .wp-block-navigation-item__label {
  color: var(--wp--preset--color--zeever-primary);
}
.menu .current-menu-item .wp-block-navigation-item__label {
  color: var(--wp--preset--color--zeever-secondary);
}
@media (max-width: 768px) {
  .menu .wp-block-navigation__responsive-container-open, .menu .wp-block-navigation__responsive-container-close {
    border: 2px solid var(--wp--preset--color--zeever-secondary);
    padding: 4px 6px;
    color: var(--wp--preset--color--zeever-primary);
  }
  .menu .wp-block-navigation__responsive-close {
    padding: 15px;
  }
  .menu .wp-block-navigation__responsive-container {
    background-color: var(--wp--preset--color--zeever-bgsoft) !important;
    border-radius: 0px;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-end;
    right: -110%;
    overflow: hidden auto;
    position: fixed;
    top: 0px;
    transition: right 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
    width: 100%;
  }
  .menu .wp-block-navigation__responsive-container.is-menu-open {
    right: 0;
  }
  .menu .wp-block-navigation__responsive-container[data-wp-class--has-modal-open=true] {
    transform: translateX(0);
  }
  .menu .wp-block-navigation__responsive-dialog {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
  }
}

.home-latest-news__items {
  padding: 10px;
}
.home-latest-news__items .wp-block-post {
  border-style: solid;
  border-width: 1px;
  border-color: var(--wp--preset--color--zeever-border);
}
.home-latest-news__items .taxonomy-category {
  text-transform: uppercase;
}
.home-latest-news__items .taxonomy-category a {
  text-decoration: none;
  text-transform: uppercase;
}
.home-latest-news__item-content {
  padding: 40px;
}
@media (max-width: 768px) {
  .home-latest-news__item-content {
    padding: 20px;
  }
}

.wp-block-post-excerpt__more-link {
  background: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  border-color: var(--wp--preset--color--zeever-secondary);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-right: 30px;
  text-decoration: none;
}

.wc-block-components-product-image img {
  border: 0 !important;
}

.wc-block-catalog-sorting select.orderby {
  padding: 10px;
}

.wc-block-product-categories-list {
  list-style-type: none;
  padding-right: 0;
  width: 100%;
}
.wc-block-product-categories-list .wc-block-product-categories-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--wp--preset--color--zeever-bodytext);
  padding: 13px 0 13px 0;
}
.wc-block-product-categories-list .wc-block-product-categories-list-item a {
  flex-grow: 1;
  text-decoration: none;
  font-weight: 600;
  color: #D0D0D0;
}
.wc-block-product-categories-list .wc-block-product-categories-list-item.current-cat a {
  color: var(--wp--preset--color--zeever-secondary);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin: 0 auto;
}
.contact-form__row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.contact-form__col {
  flex: 1;
  min-width: 320px;
}
.contact-form__input, .contact-form__textarea {
  width: 100%;
  padding: 15px;
  background-color: #1a1a1a;
  border: none;
  color: white;
  box-sizing: border-box;
}
.contact-form__textarea {
  height: 300px;
}
.contact-form__submit {
  text-align: center;
  margin-top: 30px;
}
.contact-form__button {
  background: transparent;
  color: white;
  border: 1px solid cyan;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-form__button:hover {
  background-color: cyan;
  color: #111;
}
.contact-form ::-moz-placeholder {
  color: white;
  opacity: 1; /* Ensure full opacity */
}
.contact-form ::placeholder {
  color: white;
  opacity: 1; /* Ensure full opacity */
}
.contact-form :-ms-input-placeholder {
  /* For Internet Explorer */
  color: white;
}
.contact-form ::-ms-input-placeholder {
  /* For Edge */
  color: white;
}

.wp-block-separator {
  width: 10%;
  min-height: 5px;
  padding: 0;
}

.taxonomy-categorie-progetti a {
  text-decoration: none;
}

.taxonomy-category a {
  text-decoration: none;
}

.wp-block-post-template-is-layout-grid .wp-block-group {
  height: 100%;
}

.taxonomy-product_cat a {
  text-decoration: none;
}

.wc-block-components-product-button__button {
  border: 1px solid var(--wp--preset--color--zeever-secondary) !important;
}
.wc-block-components-product-button__button:hover {
  color: var(--wp--preset--color--zeever-secondary) !important;
}

.wp-block-woocommerce-product-template .wp-block-group {
  height: 100%;
}

:root {
  --zeever-transition: cubic-bezier(0.165, 0.84, 0.44, 1) ;
}

body .zeever-animate-init {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0) scale(1) rotate(0);
}

.zeever-animate {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, transform;
}

.zeever-move-up {
  transform: translateY(30px);
}

.zeever-move-down {
  transform: translateY(-30px);
}

.zeever-move-right {
  transform: translateX(40px);
}

.zeever-move-left {
  transform: translateX(-40px);
}

.zeever-flip {
  transform: perspective(500px) translateY(60px) scaleY(0.75) rotateX(-40deg);
}

.zeever-scale {
  transform: scale(0.5);
}

.zeever-flip,
.zeever-move-down,
.zeever-move-up,
.zeever-move-right,
.zeever-move-left,
.zeever-scale {
  transition-duration: 0.7s;
  transition-timing-function: var(--zeever-transition);
}

.zeever-delay-1 {
  transition-delay: 0.1s;
}

.zeever-delay-3 {
  transition-delay: 0.3s;
}

.zeever-delay-5 {
  transition-delay: 0.5s;
}

.zeever-delay-7 {
  transition-delay: 0.7s;
}

.zeever-delay-10 {
  transition-delay: 1s;
}

.zeever-delay-20 {
  transition-delay: 2s;
}
