/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/categorie-progetti/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-block-theme-categorie-progetti .categorie-progetti__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__image-wrapper {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  margin: 0;
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__name {
  white-space: normal !important;
  text-overflow: clip !important;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 15px;
  position: absolute;
  width: 100%;
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__link {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
}
