/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/categorie-progetti/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-block-theme-categorie-progetti .categorie-progetti__list {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .wp-block-block-theme-categorie-progetti .categorie-progetti__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
  }
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__item {
  border: 2px solid var(--wp--preset--color--zeever-secondary);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 18px 40px;
}
@media (max-width: 768px) {
  .wp-block-block-theme-categorie-progetti .categorie-progetti__item {
    flex: 0 0 auto;
  }
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__link:hover {
  color: var(--wp--preset--color--zeever-secondary);
}
.wp-block-block-theme-categorie-progetti .categorie-progetti__show-all {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}
