.contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	// padding: 40px;
	margin: 0 auto;

	&__row {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__col {
		flex: 1;
		min-width: 320px;
	}

	&__input,
	&__textarea {
		width: 100%;
		padding: 15px;
		background-color: #1a1a1a;
		border: none;
		color: white;
		box-sizing: border-box;
	}

	&__textarea {
		height: 300px;
	}

	&__submit {
		text-align: center;
		margin-top: 30px;
	}

	&__button {
		background: transparent;
		color: white;
		border: 1px solid cyan;
		padding: 15px 40px;
		cursor: pointer;
		transition: all 0.3s;
	}

	&__button:hover {
		background-color: cyan;
		color: #111;
	}

	::placeholder {
		color: white;
		opacity: 1; /* Ensure full opacity */
	}

	:-ms-input-placeholder {
		/* For Internet Explorer */
		color: white;
	}

	::-ms-input-placeholder {
		/* For Edge */
		color: white;
	}
}
