.home-latest-news {
	&__items {
		padding: 10px;

		.wp-block-post {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    /* * Ombra leggera e diffusa (X-offset Y-offset Blur Spread Color)
     * Questo è un grigio scuro molto trasparente
     */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

		.taxonomy-category {
			text-transform: uppercase;
			a {
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}

	&__item-content {
		padding: 40px;

		@media (max-width: 768px) {
			padding: 20px;
		}
	}
}
