.menu {
	@media (max-width: 768px) {
		flex-direction: row-reverse;
		gap: 10px !important;
		padding-right: 1em;
	}

	.current-menu-item {
		&.wp-block-navigation-link {
			color: var(--wp--preset--color--zeever-secondary);
		}
	}

	.wp-block-navigation-link {
		a:hover {
			color: var(--wp--preset--color--zeever-secondary);
		}
	}

	.wp-block-navigation {
		@media (max-width: 768px) {
			&__responsive-container-open {
				border: 2px solid var(--wp--preset--color--zeever-secondary);
				padding: 4px 6px;
			}

			&__responsive-container {
				position: fixed;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: var(
					--wp--preset--color--zeever-bgsoft
				) !important;
				color: white !important;
				transform: translateX(-100%);
				transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
				z-index: 9999;
			}

			&__responsive-container[data-wp-class--has-modal-open="true"] {
				transform: translateX(0);
			}

			&__responsive-dialog {
				height: 100%;
				overflow-y: auto;
				padding: 20px;
			}
		}
	}
}
