.wp-block-cloudcatch-splide-carousel {
	.splide {
		&__pagination {
			bottom: 6em;
		}


		&__arrow {
			&--prev {
				left: calc(2em + 30px)!important;
			}

			&--next {
				right: calc(2em + 30px)!important;
			}
		}

	}




}
