/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-block-theme-categorie-progetti {
	.categorie-progetti {
		// Stili per il contenitore Grid
		&__grid {
			display: grid;
			// La proprietà "auto-fit" e "minmax" gestisce la reattività automatica.
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			gap: 2rem;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		// Stili per i singoli elementi della Grid
		&__item {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		// Stili per il wrapper dell'immagine
		&__image-wrapper {
			width: 100%;
			aspect-ratio: 4/3;
			overflow: hidden;
			margin: 0;
		}

		// Stili per l'immagine all'interno del wrapper
		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}

		// Stili per il nome della categoria (testo)
		&__name {
			/* margin-top: 1rem; */
			text-align: center;
			// font-weight: bold;
			/* text-transform: uppercase; */

			background: rgba(0, 0, 0, .5);
    bottom: 0;
    color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis; /* <-- This is active */
    white-space: nowrap; /* <-- This is active */
    width: 100%;
		}

		// Stili per il link
		&__link {
			text-decoration: none;
			color: inherit;
			position: relative;
		}
	}
}
