/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-home-servizi {
	// background-color: #21759b;
	// color: #fff;
	// padding: 2px;

	.home-servizi {
		&__item {
			background-color: #121212;
			padding-top: 50px;
			padding-right: 40px;
			padding-bottom: 50px;
			padding-left: 40px;
			border-bottom: 5px solid var(--wp--preset--color--zeever-primary);
		}
	}
}
