/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/slick-carousel/style.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  right: 0;
  top: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: right;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: left;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.wp-block-slick-carousel-slick-carousel {
  /* Container for the slider */
}
.wp-block-slick-carousel-slick-carousel .carousel {
  position: relative;
  /* Arrows */
}
.wp-block-slick-carousel-slick-carousel .carousel .slider_prev,
.wp-block-slick-carousel-slick-carousel .carousel .slider_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px; /* Adjust width */
  height: 60px; /* Adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  z-index: 10;
  color: white; /* Icon color */
  text-decoration: none;
  /* Add a border or background if needed for visibility */
  border-radius: 50%; /* Optional for rounded buttons */
}
.wp-block-slick-carousel-slick-carousel .carousel .slider_prev:hover,
.wp-block-slick-carousel-slick-carousel .carousel .slider_next:hover {
  color: #ddd; /* Change color on hover */
}
.wp-block-slick-carousel-slick-carousel .carousel .slider_prev {
  right: 10px; /* Adjust positioning */
}
.wp-block-slick-carousel-slick-carousel .carousel .slider_next {
  left: 10px; /* Adjust positioning */
}
.wp-block-slick-carousel-slick-carousel .carousel .button_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wp-block-slick-carousel-slick-carousel .carousel .button_icon svg {
  width: 60px; /* Ensure the SVG is large */
  height: 60px; /* Ensure the SVG is large */
}
.wp-block-slick-carousel-slick-carousel .carousel-item img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 35vw;
}
.wp-block-slick-carousel-slick-carousel .slider_pagination {
  width: 100%;
  margin-top: 20px;
}
.wp-block-slick-carousel-slick-carousel .slider_pagination li {
  display: inline-block;
}
.wp-block-slick-carousel-slick-carousel .slider_pagination a {
  display: inline-block;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  margin: 0 9px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  position: relative;
}
