/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/home-servizi/style.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-home-servizi .home-servizi__item {
  background-color: #121212;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 50px;
  padding-right: 40px;
  border-bottom: 5px solid var(--wp--preset--color--zeever-primary);
}
