body {
	&.admin-bar header {
		top: 32px;
	}
}

.woocommerce div.product,
.certificazioni-template-default {
	margin-top: 9em;
}

@media (max-width: 768px) {
	.is-layout-constrained {
		padding: var(--wp--preset--spacing--40);
	}
}


.home .entry-content {
	margin-block-start:0;
}
