body {
	&.admin-bar header {
		top: 32px;
	}
}

.woocommerce div.product,
.certificazioni-template-default {
	margin-top: 9em;
}

@media (max-width: 768px) {
	.is-layout-constrained {
		padding: var(--wp--preset--spacing--40);
	}
}

.home .entry-content {
	margin-block-start: 0;
}

body.woocommerce-page {
	background-color: var(--wp--preset--color--zeever-primary) !important;
	main, .shop-main, .wc-block-components-drawer {
		color: var(--wp--preset--color--zeever-bgsoft);
		a {
			color: var(--wp--preset--color--zeever-bgsoft);
		}

		table {
			color: var(--wp--preset--color--zeever-bgsoft);
		}

		.wc-block-components-button__text,
		.taxonomy-product_cat a {
			color: var(--wp--preset--color--zeever-secondary);
		}

		.woocommerce-breadcrumb {
			a {
				color: var(--wp--preset--color--zeever-bgsoft);
			}
		}
	}
}
