header {
	// height:70px;
	z-index: 999;
	margin: 0 auto;
	border-bottom: 1px solid rgba(159, 123, 78, 0.55);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.35);
}

.wp-block-site-logo {

	img {
		@media (max-width: 1040px) {
			max-width: 20vw;
		}
	}

	img {
		@media (max-width: 768px) {
			max-width: 30vw;
		}
	}


}

.wc-block-customer-account__account-icon,
.wc-block-mini-cart__icon,
.wc-block-mini-cart__amount {
	color: #fff;
}

.wc-block-mini-cart__badge {
	background-color: #fff;
}
