/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "~slick-carousel/slick/slick.scss";
// @import '~slick-carousel/slick/slick-theme.scss';

.wp-block-slick-carousel-slick-carousel {
	/* Container for the slider */
	.carousel {
		position: relative;

		/* Arrows */
		.slider_prev,
		.slider_next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 60px; /* Adjust width */
			height: 60px; /* Adjust height */
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			cursor: pointer;
			z-index: 10;
			color: white; /* Icon color */
			text-decoration: none;

			/* Add a border or background if needed for visibility */
			border-radius: 50%; /* Optional for rounded buttons */

			&:hover {
				color: #ddd; /* Change color on hover */
			}
		}

		.slider_prev {
			left: 10px; /* Adjust positioning */
		}

		.slider_next {
			right: 10px; /* Adjust positioning */
		}

		.button_icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.button_icon svg {
			width: 60px; /* Ensure the SVG is large */
			height: 60px; /* Ensure the SVG is large */
		}

		&-item {
			img {
				width: 90%;
				object-fit: cover;
				height: 60vw;

				@media (min-width: 1024px) {
					height: 700px;
				}


			}
		}
	}

	.slider_pagination {
		width: 100%;
		margin-top: 20px;

		li {
			display: inline-block;
		}
		a {
			display: inline-block;
			width: 12px;
			height: 12px;
			text-indent: -9999px;
			margin: 0 9px;
			background: rgba(0, 0, 0, 0.15);
			-webkit-border-radius: 100%;
			border-radius: 100%;
			position: relative;
		}
	}
}
