/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "~slick-carousel/slick/slick.scss";
// @import '~slick-carousel/slick/slick-theme.scss';

.wp-block-slick-carousel-slick-carousel {
	/* Container for the slider */
	.carousel {
		position: relative;

		/* Arrows */
		.slider_prev,
		.slider_next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 50px; /* Adjust width */
			height: 50px; /* Adjust height */
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			cursor: pointer;
			z-index: 10;
			color: white; /* Icon color */
			text-decoration: none;

			/* Add a border or background if needed for visibility */
			border-radius: 50%; /* Optional for rounded buttons */

			&:hover {
				color: #ddd; /* Change color on hover */
			}
		}

		.slider_prev {
			left: 2%; /* Adjust positioning */
		}

		.slider_next {
			right: 2%; /* Adjust positioning */
		}

		.button_icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.button_icon svg {
			width: 60px; /* Ensure the SVG is large */
			height: 60px; /* Ensure the SVG is large */
		}

		.slick-slide {
			margin: 0 0.1%; /* Space between slides */

			/* 1. Ensure smooth transition for all properties */
			> div {
				transition:
					transform 0.3s ease-in-out,
					box-shadow 0.3s ease-in-out;
			}

			/* 2. Apply the scale and lift on hover */
			> div:hover {
				/* Scale up by 2% */
				transform: scale(1.02);
				/* Add a subtle shadow for a "lifted" effect */
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				/* Ensure the hovered element is above others */
				z-index: 10;
			}
		}

		&-item {
			// padding: 0.5vw;
			position: relative;

			border-style: solid;
			border-width: 1px;
			background-color: #121212;
			border-color: rgba(159, 123, 78, 0.55);

			img {
				// width: 20vw;
				// height: 20vw;
				object-fit: cover;
				aspect-ratio: 1 / 1;
			}

			&-title {
				color: white;
				text-align: center;
				position: absolute;
				bottom: 0;
				width: 100%;
				background: rgba(0, 0, 0, 0.5);
				padding: 15px 15px;
				margin: 0;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	.slider_pagination {
		width: 100%;
		margin-top: 20px;

		li {
			display: inline-block;
		}
		a {
			display: inline-block;
			width: 12px;
			height: 12px;
			text-indent: -9999px;
			margin: 0 9px;
			background: rgba(0, 0, 0, 0.15);
			-webkit-border-radius: 100%;
			border-radius: 100%;
			position: relative;
		}
	}
}
